.bg{
    background: url(ArvoreO.png) no-repeat;
    size: cover
}
div{
    padding-top: 1.2cm
}

.flexCenterWrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.obrigatorio{
    font-weight: bold
}


.alignLeft{
    text-align: left
}

.alignCenter{
    text-align: center
}

.alignRight{
    text-align: right
}

form{
    border: 1px solid;
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 0.5cm;
}

input{
    margin: 1em
}

.marginInput{
    padding: 0.12cm;
    width: 6cm
}

.marginLabel{
    margin: 0.25cm
}

.marginLeft{
    margin-left: 1.2cm
}

.required{
    color: red;
    font-weight: bold
}

.marginBot{
    margin-bottom: 1.2cm
}

#register.html:target{
    outline: 3px solid var(--color-purple-30);
    color: var(--color-purple-30);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }